@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@40,400,1,1');
body {
    margin: 0;
    margin-top:0%;
    background-color:#fcfcfa;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.fixed
.content
.selected{
  color:gray;
    font-family:'Ubuntu',sans-serif;
    font-weight: bold;
    border-bottom: 2px crimson solid;
}
.font-sm{
    font-size:0.8em;
}
.nav{
    text-decoration:none;
    height:100vh;
    width:4%;
    
    float:left;
    position:fixed;
    color:crimson;
}
.font-xsm{
    font-size:0.7em;
}
.nav-items{
    width:100%;
    height:10%;
    background-color: gray;
    color:white;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.nav-items:hover{
    background-color:white;
    color:crimson;
}

a{
    text-decoration:none;
}
.flex-vertical{
       display:flex;
    flex-wrap: wrap;
    flex-direction:column;
}
.flex-center{
     
  justify-content: center;
}

.session{ margin: 0% 7% 2% 7%;}
.sessions{ border-collapse:collapse;width:100%;table-layout: fixed;margin-bottsom: 5%;}
.sessions>tr>th{text-align:left;padding: 2% 5% 2% 5%;;}
.sessions>tr>th{background-color: crimson; }
.sessions>tr>td{ padding: 2% 5% 2% 5%; border-bottom: 1px gray solid; text-align: left;}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.text-bolder{
    font-weight: 300;
}
.text-left{
    text-align: left;
}
.bg-special-black{
    background-color: #151111;
}
.bg-gray{
    background-color: gray;
}
.bg-crimson{
    background-color:crimson;
}
.border-bottom-crimson{
    width:40px;
    height:3px;
    margin-top:1%;
    border-bottom: 2px crimson solid
}
.border-bottom-white{
    width:200px;
    height:3px;
    margin-top:1%;
    border-bottom: 2px white solid
}

.border-bottom-gray{
    width:200px;
    height:3px;
    margin-top:1%;
    border-bottom: 2px gray solid
}

.font-100{
    font-weight: 100;
    
}
.font-300{
    font-weight: 300;
}
.home{
    
    height:400px;
    width:100%;
    overflow: hidden;
    background-color:black;
    background-position: center;
    background-size: cover;
}
.contact_us{
    background-color: #3c3c43;
    width:100%;
    overflow: hidden;
    
    
}
.paddingsm{
    padding:10px;
}
.fontsm{
    font-size: 0.8em;
}

.top-nav{
    width:100%;
    background-color: #fcfcfa;
    color:black;
    position:fixed;
    
    padding-top: 10px;
    margin-bottom: 20px;
    top:0;
    z-index: 1;
    font-family: 'Ubuntu', sans-Serif;
    
    

}
.flex-vertical{
       display:flex;
    flex-wrap: wrap;
    flex-direction:column;
}
.flex-horizontal{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
}
.rotate{transform: rotate(180deg) scaleY(-1);}
.menu{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-items:self-end;
    text-align: center;
    
}
.ubuntu{
    font-family: 'Ubuntu', sans-serif;
}
.Roboto{
     font-family: 'Roboto', sans-serif;
}
#top-menu{
    
    font-size: 1.2em;
}
#bottom-menu{
    font-size:1.2em;
    font-family: 'Poppins',sans-serif;
}
.x{
    border-bottom:2px solid #fcfcfa;
}
.fixed-float-3
.x:hover{
    border-bottom: 2px solid #eee;
}
.dropdown>li,.flex-vertical>li{
    text-decoration: none;
    list-style-type: none;
    color:crimson;
}
li>a{
    color:white;
}

.hidden{display:none;}
.nav-item{
   color:black;
    opacity:1;
    padding:5px 10px 20px 25px;
    text-decoration: none;
    margin:5px 5px 0px 5px;
    border-radius: 1px;
    display:inline-block;

}



.w-100{
    width:100%;
}
.w-80{
    width:80%;
}
.w-20{
    width:20%;
}
.w-40{
    width:40%;
}

.float-right{
    float:right;
}
.float-right>a{
    color:white;
}
.text-white{
    color:white;
}
.word-box{
      background: linear-gradient(
                            250deg,
                            transparent 40%,
                            #000 1%,
                            #000 100%,
                            transparent 60%);

width:90%;
opacity:0.9;
padding:1%;
}
.w-box{
      background: linear-gradient(
                            285deg,
                            transparent 54%,
                            #ffffff 1%,
                            #ffffff 100%,
                            transparent 60%);

width:97%;
opacity:1;
padding:1%;
background-color:#a30606;
height:4d0vh;
overflow: hidden;

}
.w-box-small{
      background: linear-gradient(
                            300deg,
                            transparent 54%,
                            #3B3D6E 1%,
                            #3B3D6E 100%,
                            transparent 60%);

width:100px;
opacity:1;
bottom:0;
right:0;
position:absolute;
padding:1%;
background-color:crimson;
height:50px;
overflow: hidden;

}
.border-bottom{
padding-bottom: 2px;
background-color:white;
}

.word-sbox:after {
  content: '';
  position: absolute;
  top:30%;
  left: 0;
  width: 50%;
  height: 300px;
  background: #000;
  padding:10px;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-10deg);
  z-index: -1;
}

.link-box{
    animation-delay: 10000ms;
    animation-direction:normal;
    animation-duration: 100ms;
    opacity: 1;
    float:right;
    width:25%;
    height:100%;

}
.flex-center
.border-left-white{
   border-left: 1px white solid;
}
.padding-none{
    padding:0px;
    margin:0;
}
.font-md{
    font-size: 1.1em;
}
.dropdown{position:absolute; background-color: crimson; color:gray;padding:20px;z-index: 1; margin-top: 0px;font-weight: normal; overflow: hidden; text-align: left;}

#gethelp-parent:hover>#gethelp{display:block;}
#courses{
    background-color: #000015;
}
.paddingmd{
    padding:20px;
}
.footer{
    background-color: #f5f5f5;
    overflow:hidden;
    
   
}
.flex-center{
     
  justify-content: center;
}


.programs{
    background-color: #3c3c43;  
    width:100%;    
}
#getprograms{
    overflow: hidden;
    widdth:40%;
    background-color: crimson;
}
#programs:hover>#getprograms{
    display:block;
}

.link{
    padding:5px;
    background-color:white;
    margin:5px;
    float:left;
    text-decoration:none;
}
.border-slanted{

}
.link>a{
    text-decoration:none;
    color:white;
}

.font-sm{
    font-size:0.8em;
}
.text-gray{
    color:gray;
}

.float-left{
    float:left;
}


.content {

    width:95%;
    margin-left: 70px;
    margin-right: 7%;
    overflow-y: hidden;
    paddidng:20px;
    margin-bottom: 0;
    float: none;
    background-color: #fcfcfa;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Mukta', sans-serif;
    background-position: center;
}
.head{
    width:100%;
    background-color:rgb(247, 244, 192);
    padding:20px;

}
.top-nav
.text-salmon{
    color:salmon;
}
.width-100{
    width:100%;
}
.padding-20{
    padkding:10%;
}
.font-xsm{
    font-size:0.7em;
}
.margin-sm-fixed{
    margin:3px 2px 2px 2px;
}
.margin-sm{
    margin:8px;
}

.flatten{
    border:0;
}
.font-lg{
    font-size:1.4em;
}
.padding-sm{
    padding:5px;
}
.bg-green{
    background-color:green;
    color:yellow;
}
.float-right{
    float:right;
}
.studentfooter {
    position:fixed;
    bottom:0;
    left:10px;
    right:10px;
    height:30px;
    font-size: 0.7em;
}
.center{
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.w-50{
    width:50%;

}
.float-left{
    float:left;
}
.margin-top-md{
    margin-top:10%;
}
.margin-top-sm{
    margin-top: 4%;
}
.w-100{
    width:100%;
}
.padding-md{
    padding:0px;
}
.w-75{
    width:700px;
    ;
}
.height-md{
    height:60vh;
}
.height-max{
    height:100%;
}
.overflow-none{
    overflow:hidden;
}
.login-image{
    
    height:300px;
    width:100%;
    background-position: center;
    background-size: cover;
}
.trainer{
    width:300px;
}

.p-head{
    height:50%;
    width:100%;
    

    background-position: center;
    background-size: cover;
}
.search{padding:0;}
.input-variant{
    border:1px solid gray;
    width:80%;
    padding:15px;
    border-left:3px solid crimson;
    background-color: white;
}
.input-variant-w-0{
        border:none;
    margin-right:10px;
    padding:10px;
    width:250px;
    border-left:3px solid crimson;
    background-color: white;
}
.input-variant-w-0:focus{
    outline:none;
}

.font-xl{
    font-size:2.0em;
}
.input-variant-b{
    border:none;
    width:100%;
    padding:10px;
    border-left:3px solid crimson;
    background-color: white;
}
.input-variant:focus{
    outline:none;
    background-color: white;
}
.input-variant-b:focus{
    outline:none;
    background-color: white;
}
.button-variant{
    border:none;
    padding:10px;
    width:80%;
    background-color:crimson;
}
.btn-variant-3{
    border:none;
    background-color: crimson;
color:white;
    padding:10px;
    
}
.btn-variant-4{
    border:none;
    background-color: #ff4b36;

    padding:10px;
}
.btn-variant-7{
    border:none;
    background-color: #a30606;

    padding:5px;
}
.border-text:hover{
border-bottom:white solid 2px;
}

.btn-variant-5{
    border:2px solid crimson;
    padding:10px;
    
        
}
.h-50{height:400px; padding:5%;}
.animate-bm {
  
  position: relative;
  padding-bottom: 3px;
  
}
.animate-bm:last-child {
  margin-right: 0;
}

.animate-bm:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: white;
  transition: width .5s ease, background-color .5s ease;
}
.animate-bm:hover:after {
  width:auto;
  background: white;
}
.btn-variant-6{
  border:2px solid white;
    padding:10px;  
    background-color: white;
}
.width-md-px{
    width:150px;
}
.bg-variant{
    background-color:whitesmoke;
}
.crimson-text{
    color:crimson;

}
.padding-sm-fixed{
    padding:10px;
}
.page-header{
    background-color: crimson;
}
.program{
    height:auto;
    width:30%;
    overfldow: hidden;
    background-color: white;
    border-radius: 0px;
    font-family: 'Poppins', sans-serif;
    margin:10px 20px 20px 0px;
    flex: 0 0 20%;


}
.program:hover{
    background-color: #f5f5f5;
}
.all-programs{
    display:flex;
    flex-wrap:wrap;
    padding-left:0;
    margin:10px 20px 20px 0px;

}
.bg-nav-blue{
    background-color:#3b3d6e;
}
.w-78{
    width:78%;
}
.border-rad-md{
    border-radius: 10px;
}
.border-1{
    border:1px solid #50538e;
}
.text-blue{
    color:lightblue;
}
.three-per-row{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
.btn-variant-2{
    border:2px solid white;
    padding:10px;
    width:40%;
    background-color: orange;
}
.pointer{
    cursor:pointer;
}
.program-header{
    height:30vh;
    padding:10px;
    
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

.sider{
    width:20%;
}
.side{
    width:100%;
    background-color:#0074d9;
    height:30vh;
    color:white;
    margin:1%;
    float:left;

}
.main{
    width:71%;
    height:auto;
    padding:10px 40px 10px 40px;
    background-color: #f7f4c0;
    margin:1%;
}
.center-text{
    text-align:center;
}
.padding-40{
    padding:25px 25px 5px 25px;
    color:lightblue;
}
.gridView{
    display:grid;
    gap:10px;
}
.one{
    grid-colum:1;
    width:40%
}
.two{
    grid-column:2;
    width:140%
}
.balance{
    width:150px;
    height:150px;
    border-radius: 75px;
    background-color: #f7f4c0;
    overflow:hidden;
    color:gray;
    border:gray solid 4px;
}
.font-vl{
    font-size:3em;
}
.bottom {
 
}
.search{
    background-color:#3b3d6e;
    height:auto;
    width:10%;
    overfldow: hidden;
    position:relative;
    padding:5px;
    color:white;
    border-radius: 0px;
    font-family: 'Poppins', sans-serif;
    margin:10px 10px 7px 0px;
    flex: 0 0 20%;
}
.text-bold{
    font-weight:bold;
}
.w-30{width:30%;}
.margin-md{
    margin:5px;
}
.position-rel{
    position:relative;
}
.fixed-float{
    top:15%;
    right:5%;
    position: fixed;
}
.fixed-float-2{
    top:25%;
    right:5%;
    position: fixed;
}
.fixed-float-3{
    top:15%;
    right:1%;
    float:right; 
}
.w-25{width:20%; ;}

.search{
    border:0px #454344 solid;
}

.search:hover{
   cursor:pointer;
}


.registration-status{
    background-color: greenyellow;
    padding:3px;
    border-radius: 3px;
}
.bg-yellow{
    background-color: #fdbf38;
}
.margin-top-xsm{
    margin-top:15px;
}
.padding-lg{
    padding:4%;
}
.bottom-border-sm{
    border-bottom: 2px solid gray;
}
.padding-md{
    padding:1%;
}
.padding-bm-sm{
    padding-bottom: 5px;
}
 .top-nav-res{
      visibility:hidden;
  }

@media only screen and (max-width: 900px) {
  body {
    
    margin-top: 0%;
  }
  .top-nav{
      visibility: hidden;
  }
  .top-nav-res{
      visibility:visible;
      font-size: 0.7em;
      margin:0%;
      height:10px;
  }
  .word-box:after{
      visibility:hidden;
  }
  .word-box{
      width:75%;
  }
  .words{
      visibility:hidden;
  }
     .program{
          height:auto;
          width:100%;
          overfldow: hidden;
          background-color: white;
          border-radius: 0px;
          font-family: 'Poppins', sans-serif;
          margin:10px 20px 20px 0px;
          flex: 0 0 80%;


      }
               .search{
                   backgrodnd-color:#3b3d6e;
                   height:auto;
                   width:30%;
                   overflow: hidden;
                   position:relative;
                   padding:1px;
                   display:block;
                   color:white;
                   border-radius: 0px;
                   font-family: 'Poppins', sans-serif;
                   margin:10px 10px 20px 0px;
                   flex: 0 0 25%;
               }

}
@media only screen and (max-width: 600px) {
    .input-variant-w-0{
    width:90%;
    padding:15px 0px;
    margin:5px;
    }
    .w-75{
    width:100%;
    }
    .x>.flex-horizontal{display:block;}

    .flex-center{}
    .three-per-row{
    display:block;}
    .program{
        height:auto;
        width:100%;
        overfldow: hidden;
        background-color: white;
        border-radius: 0px;
        font-family: 'Poppins', sans-serif;
        margin:10px 20px 20px 0px;
        flex: 0 0 80%;


    }
    .w-50{
    width:100%;}
   .resized-full-width-x{
   background-color:#a30606;
   }
   .w-box{
   background-color:white;
   }
         .search{
             backgrodnd-color:#3b3d6e;
             height:auto;
             width:100%;
             overflow: hidden;
             position:relative;
             padding:1px;
             display:block;
             color:white;
             border-radius: 0px;
             font-family: 'Poppins', sans-serif;
             margin:10px 0px 20px 0px;
             flex: 0 0 100%;
         }
}




